a {
  transition: 0.3s all ease;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
}

/* Background images */
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Footer social icons */
.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

/* Form controls */
.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

/* Sections */
.ftco-section {
  padding: 12em 0;
}

footer {
  padding: 7em 0;
}

/* Footer style 07 */
.footer-07 {
  background: #121212;
}

.footer-07 a {
  color: #a3de83;
  text-decoration: none;
}

.footer-07 p {
  color: rgba(255, 255, 255, 0.3);
}

.footer-07 .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-07 .footer-heading .logo {
  color: #fff;
}

.footer-07 .menu {
  margin-bottom: 30px;
}

.footer-07 .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-07 .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #a3de83;
}

.body {
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
}

.footer-image {
  width: 25px;
  height: 25px;

  display: block;
  margin: 0 auto;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
body {
  font-family: "Roboto", sans-serif;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.title-large {
  font-size: 2.5rem; /* Adjust the font size as needed */
  /* Add any other styles specific to large titles */
}

.title-medium {
  font-size: 2rem; /* Adjust the font size as needed */
  /* Add any other styles specific to medium titles */
}

.title-small {
  font-size: 1.5rem; /* Adjust the font size as needed */
  /* Add any other styles specific to small titles */
}

a {
  font-family: "Roboto", sans-serif; /* Set the font family */
}
