.custom-input {
  border: 2px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  padding: 20px; /* Add padding */
  box-shadow: none; /* Remove any box shadow */
  background-color: #f3f1ff;
  font-family: sans-serif;
}

.custom-input:focus {
  border-color: #007bff; /* Change border color when focused */
}

.p {
  font-family: sans-serif;
}

.h3 {
  font-family: sans-serif;
}

.job-offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust spacing between sections */
}

.job-description {
  max-width: 800px; /* Limit width of job description */
}

.job-description h3 {
  margin-top: 20px;
}

.job-description p {
  margin-bottom: 15px;
}
.apply-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.apply-button:hover {
  background-color: gray;
}

.bar-button {
  margin-bottom: 30px;
}

.create-icon {
  height: 50px;
  margin-right: 20px;
}

.create-icon:hover {
  transform: scale(1.2); /* Increase size on hover */
  cursor: pointer;
}

.container-create {
  width: 800px;
  margin: 0 auto;
}

.text-left {
  text-align: left !important;
}

.input-box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black; /* Adiciona um traço branco embaixo */
  background-color: transparent;
  color: bla; /* Texto branco */
  outline: none;
  margin-bottom: 25px;
}

.input-box::placeholder {
  color: black; /* Cor do placeholder (opcional) */
}

.input-box:focus {
  border-color: black; /* Cor da borda ao focar */
}

.btn-dropdown {
  background-color: gray; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none; /* Remove bordas */
  padding: 10px 20px; /* Espaçamento interno */   
  font-size: 20px; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de mãozinha */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  margin-bottom: 20px;
}

.container-process {
  display: flex;
  justify-content: space-between; /* Ensure there is space between the columns */
  align-items: center; /* Align items vertically at the center */
}

