.logo {
  width: 80px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.icon {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
