.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* Animation to slide in from the left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation to slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Class to trigger the slide-in animation */
.slide-in {
  animation: slideInLeft 1s forwards; /* Change to slideInRight for right-to-left animation */
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in-left.active,
.slide-in-right.active {
  opacity: 1;
  transform: translateX(0);
}
